html,
body {
  font-family: 'Fira Sans', sans-serif;
}
h1,h2,h3,p{
  font-family: 'Fira Sans', sans-serif;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aeaeae;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
